html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

button {
  width: 100%;
  padding: 1.2em;
  background-color: black;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  border: none;
}

select {
  width: 100%;
  margin-bottom: 1em;
  border: solid 1px;
  padding: 1.2em;
  background-color: white;

}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  padding-top: 60px;
}

.navigation {
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  overflow: auto;
  margin: 0; 
  width: 99.8%;
  background-color: white;
}

.nav-bar li {
  float: left;
}

.logo {
  
  display: block;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  color: black;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
}

.cart {
  display: block;
  width: 28px;
  height: 28px;
  padding: 20px;
}

.menu {
  display: block;
  width: 58px;
  height: 58px;
  padding: 5px;

}

.menu-link {
  color: black;
  padding: 24px 32px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid;
  min-width: 200px;
  z-index: 1;
  background-color: white;
}

.dropdown {
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero-graphic {
  width: 100%;
  height: 20%;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px 150px; 
}

.item {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  overflow: hidden;
  margin: 10px;
}

.item img {
  width: 100%;
  height: 100%;
}

.product {
  display: block;
  width: 100%;
  height: 100%;
}